In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('pima-indians-diabetes.csv',header=None)

In [3]:
dataset.head(5)

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       768 non-null    int64
 1   1       768 non-null    int64
 2   2       768 non-null    int64
 3   3       768 non-null    int64
 4   4       768 non-null    int64
 5   5       768 non-null    float64
 6   6       768 non-null    float64
 7   7       768 non-null    int64
 8   8       768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
y = dataset[8]

In [9]:
X = dataset[[0,1,2,3,4,5,6,7]]

In [10]:
X.shape

(768, 8)

In [12]:
from keras.models import Sequential

In [13]:
model = Sequential()

In [14]:
model.get_config()

{'name': 'sequential', 'layers': []}

In [15]:
from keras.layers import Dense

In [17]:
model.add(
Dense(units=5,
     input_shape=(8,),
      kernel_initializer="zeros",
      bias_initializer="zeros",
      activation="relu"
     )
)

In [18]:
model.get_config()

{'name': 'sequential',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 8),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'batch_input_shape': (None, 8),
    'dtype': 'float32',
    'units': 5,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 45

=================================================================
Total params: 45
Trainable params: 45
Non-trainable params: 0
_________________________________________________________________

In [20]:
model.add( 
    
        Dense(  
            units=4,  
            kernel_initializer="zeros",
            bias_initializer="zeros",
            activation="relu"
        )

    )

In [21]:
model.add( 
    
        Dense(  
            units=1,  
            kernel_initializer="zeros",
            bias_initializer="zeros",
            activation="sigmoid"
        )

    )

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 45

 dense_1 (Dense)             (None, 4)                 24

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 74
Trainable params: 74
Non-trainable params: 0
_________________________________________________________________

In [23]:
model.compile(optimizer="adam" , loss="binary_crossentropy")

In [24]:
model.fit(X,y)

24/24 [==============================] - 0s 1ms/step - loss: 0.6919